{% extends "base.html" %}
{% block title %}Explore{% endblock %}

{% block subtitle %}
Explore
{% endblock %}

{% block content %}


<div class="container text-left" style="padding-top: 15px;">
    <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <h6 class="card-header">Recently Added</h6>
                <div class="card-body">
                    {% for tag in recently_added_tags %}
                    <a class="link-light" href="/tags/{{ tag['t']['name'] }}">
                        <span class="badge bg-tag"> {{ tag['t']['name'] }}
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h6 class="card-header">
                    Top 5 Endorsed Skill Holder

                </h6>
                <div class="card-body">
                    {% for t in top_skilled %}
                    <a class="link-light" href="/persons/{{t.p.email}}">
                        <span class="badge rounded-pill bg-person">{{t.p.last_name}}, {{ t.p.first_name}}
                            <span class="badge text-bg-dark"> {{ t.anz }}
                                <span class="visually-hidden">was endorsed {{ t.anz }} time{% if t.anz > 1%}s{% endif
                                    %}</span>
                            </span>
                        </span>
                    </a>
                    
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h6 class="card-header">
                    Top 5 Task Collaborators

                </h6>
                <div class="card-body">
                    {% for t in top_working %}
                    <a class="link-light" href="/persons/{{t.p.email}}">
                        <span class="badge rounded-pill bg-person">{{t.p.last_name}}, {{t.p.first_name}}
                            <span class="badge text-bg-dark"> {{ t.anz }}
                                <span class="visually-hidden">was endorsed {{ t.anz }} time{% if t.anz > 1%}s{% endif
                                    %}</span>
                            </span>
                        </span>
                    </a>
                    
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h6 class="card-header">
                    Top 5 Knowledge Transferors

                </h6>
                <div class="card-body">
                    {% for t in top_transferor %}
                    <a class="link-light" href="/persons/{{t.p.email}}">
                        <span class="badge rounded-pill bg-person">{{t.p.last_name}}, {{t.p.first_name}}
                            <span class="badge text-bg-dark"> {{ t.anz }}
                                <span class="visually-hidden">helped {{ t.anz }} time{% if t.anz > 1%}s{% endif
                                    %}</span>
                            </span>
                        </span>
                    </a>
                    
                    {% endfor %}

                </div>
            </div>
        </div>


    </div>

</div>
<div class="container text-left" style="padding-top: 15px;" >
    <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <h6 class="card-header">
                    Common Interests

                </h6>
                <div class="card-body">
                    {% for tag in followed_tags %}

                    <a class="link-light" href="/tags/{{ tag.name }}">
                        <span class="badge bg-follow"> {{ tag.name }}
                            <span class="badge text-bg-light">{{ tag.anz }}
                            </span>
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h6 class="card-header">
                    Common Skills

                </h6>
                <div class="card-body">
                    {% for tag in common_skills %}

                    <a class="link-light" href="/tags/{{ tag.name }}">
                        <span class="badge bg-skill"> {{ tag.name }} <span class="badge text-bg-light">{{ tag.anz }}
                            </span>
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h6 class="card-header">
                    Common Tasks

                </h6>
                <div class="card-body">
                    {% for tag in worked_on_tags %}

                    <a class="link-light" href="/tags/{{ tag.name }}">
                        <span class="badge bg-task"> {{ tag.name }} <span class="badge text-bg-light">{{ tag.anz }}
                            </span>
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h6 class="card-header">
                    Common Knowledge Transfers

                </h6>
                <div class="card-body">
                    {% for tx in transfer_tag_count %}

                    <a class="link-light" href="/tags/{{ tx.t.name }}">
                        <span class="badge bg-transfer"> {{ tx.t.name }} <span class="badge text-bg-light">{{ tx.anz }}
                            </span>
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>





    </div>
</div>

<div class="container text-left" style="padding-top: 15px;">
    <div class="row align-items-start">
        <div class="col">
            <div class="card" style="height: 400px;">
                <h6 class="card-header">
                    Ongoing Tasks
                </h6>

                <div class="card-body">
                    <ul class="list-group list-group-flush">

                        {% for task in ongoing_task %}
                        <li class="list-group-item" style="padding: 0px; padding-bottom: 2px; padding-top: 2px;">

                            <b>{{ task['t'].get('start_date') }} -
                                {% if task['t'].get('end_date') %}
                                {{ task['t'].get('end_date') }}
                                {% else %} today
                                {%endif%}</b>

                            {% for t in tags_tasks[task['elementid(t)']] %}
                            <a class="link-light" href="/tags/{{t['tag'].get('name')}}">

                                <span class="badge bg-task">{{t['tag'].get('name')}}</span>
                            </a>
                            {% endfor %} <br />

                            <p style="font-size: smaller;"><i>{{ task['t'].get('title') }} - </i>{{
                                task['t'].get('description') }}


                                <!-- Button trigger modal -->
                                <a href="#" class="link-dark" data-bs-toggle="modal"
                                    data-bs-target="#{{task.get('elementid(t)')}}">
                                    <i>> Details</i>
                                </a>
                                <!-- Modal -->
                            <div class="modal fade" id="{{task.get('elementid(t)')}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{
                                                task['t'].get('title') }}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p><b>{{ task['t'].get('start_date') }} -
                                                    {% if task['t'].get('end_date') %}
                                                    {{ task['t'].get('end_date') }}
                                                    {% else %} today
                                                    {%endif%}</b></p>
                                            <p>{{ task['t'].get('description') }}</p>

                                            <p> {% for t in tags_tasks[task['elementid(t)']] %}
                                                <a class="link-light" href="/tags/{{t['tag'].get('name')}}">

                                                    <span class="badge bg-task">{{t['tag'].get('name')}}</span>
                                                </a>
                                                {% endfor %}
                                                <br />
                                            </p>
                                            <div class="card">
                                                <h6 class="card-header">People working on this task:</h6>
                                                <div class="card-body">
                                                    {% for p in shared_tasks[task['elementid(t)']] %}
                                                    <a class="link-light" href="/persons/{{p['p'].get('email')}}">
                                                        <span
                                                            class="badge rounded-pill bg-person">{{p['p'].get('last_name')}},
                                                            {{p['p'].get('first_name')}}</span>
                                                    </a>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of modal-->
                            </p>
                        </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>
        </div>
        <div class="col">
            <div class="card" style="height: 400px;">
                <h6 class="card-header">
                    Recent Knowledge Transfers
                </h6>

                <div class="card-body">
                    <ul class="list-group list-group-flush">

                        {% for tx in transfers %}
                        <li class="list-group-item" style="padding: 0px; padding-bottom: 2px; padding-top: 2px;">

                            <span style="font-size: smaller;"><b>{{tx.date}}</b></span><a class="link-light"
                                href="/tags/{{tx.t.name}}"> <span class="badge bg-transfer">{{tx.t.name}}</span></a>
                            <a class="link-light" href="/persons/{{tx.p_from.email}}">
                                <span class="badge rounded-pill bg-person">{{tx.p_from.last_name}},
                                    {{tx.p_from.first_name}}</span>
                            </a>
                            <span style="font-size: smaller;">&#x2192;</span>
                            <a class="link-light" href="/persons/{{tx.p_to.email}}">
                                <span class="badge rounded-pill bg-person">{{tx.p_to.last_name}},
                                    {{tx.p_to.first_name}}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>
        </div>
    </div>

</div>


{% endblock %}