{% extends "base.html" %}
{% block title %}Explore{% endblock %}
{% block content %}

<div class="container text-left">
    <h2 style="padding-bottom: 15px; padding-top: 20px;">Explore</h2>
    <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <h6 class="card-header">
                    Common Interests

                </h6>
                <div class="card-body">
                    {% for tag in followed_tags %}

                    <a class="link-light" href="/tags/{{ tag.name }}">
                        <span class="badge bg-follow"> {{ tag.name }}
                            <span class="badge text-bg-light">{{ tag.anz }}
                              </span>
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h6 class="card-header">
                    Common Skills

                </h6>
                <div class="card-body">
                    {% for tag in common_skills %}

                    <a class="link-light" href="/tags/{{ tag.name }}">
                        <span class="badge bg-skill"> {{ tag.name }} <span class="badge text-bg-light">{{ tag.anz }}
                        </span>
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h6 class="card-header">
                    Common Tasks

                </h6>
                <div class="card-body">
                    {% for tag in worked_on_tags %}
                    
                    <a class="link-light" href="/tags/{{ tag.name }}">
                        <span class="badge bg-task"> {{ tag.name }} <span class="badge text-bg-light">{{ tag.anz }}
                        </span>
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h6 class="card-header">Recently Added</h6>
                <div class="card-body">
                    {% for tag in recently_added_tags %}
                    <a class="link-light" href="/tags/{{ tag['t']['name'] }}">
                        <span class="badge bg-tag"> {{ tag['t']['name'] }}
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>





    </div>
</div>
<div class="container text-left" style="padding-top: 15px;">
    <div class="row align-items-start">
        <div class="col">
            <div class="card" style="height: 400px;">
                <h6 class="card-header">
                    Common Knowledge Transfers

                </h6>
                <div class="card-body">
                    {% for tx in transfer_tag_count %}

                    <a class="link-light" href="/tags/{{ tx.t.name }}">
                        <span class="badge bg-transfer"> {{ tx.t.name }} <span class="badge text-bg-light">{{ tx.anz }}
                              </span>
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="height: 400px;">
                <h6 class="card-header">
                    Recent Knowledge Transfers
                </h6>

                <div class="card-body">
                    <ul class="list-group list-group-flush">

                        {% for tx in transfers %}
                        <li class="list-group-item" style="padding: 0px; padding-bottom: 2px; padding-top: 2px;">

                            <span style="font-size: smaller;"><b>{{tx.date}}</b></span><a class="link-light" href="/tags/{{tx.t.name}}"> <span class="badge bg-transfer">{{tx.t.name}}</span></a>
                            <a class="link-light" href="/persons/{{tx.p_from.email}}">
                                <span class="badge rounded-pill bg-person">{{tx.p_from.last_name}}, {{tx.p_from.first_name}}</span>
                            </a>
                            <span style="font-size: smaller;">&#x2192;</span>
                            <a class="link-light" href="/persons/{{tx.p_to.email}}">
                                <span class="badge rounded-pill bg-person">{{tx.p_to.last_name}}, {{tx.p_to.first_name}}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}