{% extends "base.html" %}
{% block title %}Explore{% endblock %}
{% block content %}

<div class="container text-left">
    <h2>Explore</h2>
    <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Recently Added Tags</h5>
                <div class="card-body">
                    {% for tag in recently_added_tags %}
                    <a class="link-light" href="#">
                        <span class="badge bg-secondary"> {{ tag['t']['name'] }}
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">
                    10 Most Followed Tags

                </h5>
                <div class="card-body">
                    {% for tag in followed_tags %}
                    
                    <a class="link-light" href="#">
                        <span class="badge bg-secondary"> {{ tag.name }}
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">
                    10 Most Worked On Tags

                </h5>
                <div class="card-body">
                    {% for tag in worked_on_tags %}
                    
                    <a class="link-light" href="#">
                        <span class="badge bg-secondary"> {{ tag.name }}
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">
                    10 Most Common Skills

                </h5>
                <div class="card-body">
                    {% for tag in common_skills %}
                    
                    <a class="link-light" href="#">
                        <span class="badge bg-secondary"> {{ tag.name }}
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">
                    10 Most Unommon Skills

                </h5>
                <div class="card-body">
                    {% for tag in uncommon_skills %}
                    
                    <a class="link-light" href="#">
                        <span class="badge bg-secondary"> {{ tag.name }}
                        </span>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">
                    Last Transactions
                </h5>

                <div class="card-body">
                    <ul class="list-group list-group-flush">

                        {% for tx in transactions %}
                        <li class="list-group-item" style="padding: 0px; padding-bottom: 2px; padding-top: 2px;">

                        <b>{{tx.date}}</b> <span class="badge bg-secondary">{{tx.t.name}}</span><br/>
                        <a href="/person?email={{tx.p_from.email}}">{{tx.p_from.first_name}} {{tx.p_from.last_name}}</a> &#x2192; <a href="/person?email={{tx.p_to.email}}">{{tx.p_to.first_name}} {{tx.p_to.last_name}} </a><br/>
                        </li>
                            {% endfor %}
                    </ul>              

                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}