{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block subtitle %}
Login
{% endblock %}

{% block content %}
<div class="col d-flex justify-content-center">


    <form action="{{ url_for('login') }}" method="post">

        <div class="col-12">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
        <div class="col-12" style="padding-top: 10px;">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>

        <div class="col-auto" style="padding-top: 10px;">
            <button type="submit" class="btn btn-dark" style="width:100%;">Login</button>
        </div>
        Don't have an account? <a href="/register">Register</a>



    </form>

</div>
<div class="col d-flex justify-content-center" style="padding-top: 10px;">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>



{% endblock %}