{% extends "base.html" %}
{% block title %}Persons{% endblock %}
{% block content %}

<div class="container text-left">
    <h2 style="padding-bottom: 15px; padding-top: 20px;">Persons</h2>
    <div class="row align-items-start">

            {% for person in persons%}

                <a class="link-light" href="/persons/{{person.email}}">
                            <span class=" badge text-bg-light"> {{person.last_name}}, {{person.first_name}}
                    </span>
                </a>
            {% endfor %}
    </div>

</div>

{% endblock %}