{% extends "base.html" %}
{% block title %}{{ person.first_name }} {{ person.last_name }}, {{ person.job_title }}{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-info" role="alert">
    {{ message }}
</div>
{% endfor %}

<div class="container text-left">

    <div class="row align-items-start">
        <div class="col " style="padding-top: 20px;"> <!--Contact-->
            <div>
                <h2 style="padding-bottom: 15px;">{{ person.first_name }} {{ person.last_name }}, {{
                        person.job_title }}

                        <a class="link-dark" href="mailto:{{person.email}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                            </svg></a>
                        <a class="link-dark" href="tel:{{person.phone}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                            </svg></a>

                    </h2>

            </div>
        </div>
    </div>
</div>
<div class="container text-left">
    <div class="row align-items-start">
        <div class="col"> <!--Interest-->
            <div class="card">
                <h6 class="card-header">
                    Interests
                    <!-- start is_user -->
                    {% if is_user%}
                    <!-- Button trigger modal -->
                    <a href="#" class="link-dark" data-bs-toggle="modal" data-bs-target="#addtag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="addtag" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Interests</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Add Interest</p>
                                    <div class="col-6">
                                        <form method="POST" action="{{ url_for('add_tag', rel_type='follows') }}">
                                            <div class="input-group input-group-sm mb-3">
                                                <input type="text" class="form-control"
                                                    aria-label="Sizing example input"
                                                    aria-describedby="inputGroup-sizing-sm" name="tag">
                                                <span class="input-group-text" id="inputGroup-sizing-sm"><button
                                                        class="btn btn-sm" type="submit">Add</button></span>
                                            </div>
                                        </form>
                                    </div>
                                    <p>Remove Interest</p>
                                    <form method="POST" action="{{ url_for('remove_tag', rel_type='follows') }}">
                                        {% for tag in tags %}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox"
                                                id="{{ tag['t'].get('name') }}" value="on"
                                                name="checkbox_{{ tag['t'].get('name') }}">
                                            <label class="form-check-label" for="{{ tag['t'].get('name') }}"
                                                style="font-size: medium;">{{ tag['t'].get('name') }}</label>
                                        </div>
                                        {% endfor %}
                                        <p>
                                            <button class="btn btn-danger" type="submit">Remove</button>
                                        </p>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of modal-->
                    {% endif %}
                    <!-- end is_user -->
                </h6>

                <div class="card-body">
                    <p class="card-text">

                        {% for tag in tags %}
                        <a class="link-light" href="/tags/{{ tag['t'].get('name') }}">
                            <span class="badge bg-dark">{{ tag['t'].get('name') }}</span>
                        </a>
                        {% endfor %}
                    </p>


                </div>

            </div>
        </div>
        <div class="col"> <!--Skills-->
            <div class="card">
                <h6 class="card-header">
                    Skills
                    {% if is_user%}
                    <!-- Button trigger modal -->
                    <a href="#" class="link-dark" data-bs-toggle="modal" data-bs-target="#addskill">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="addskill" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Skill</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{{ url_for('add_skill') }}">
                                        <div class="mb-3">
                                            <label for="tag" class="form-label">Tag</label>
                                            <input type="text" class="form-control" id="tag" name="tag">
                                        </div>
                                        <div class="mb-3">
                                            <label for="desc" class="form-label">Description</label>
                                            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-light mb-3">Add</button>


                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of modal-->
                    {% endif %}
                    <!-- end is_user -->
                </h6>
                <div class="card-body">
                    {% for skill in skills %}

                    <!-- Button trigger modal -->
                    <a class="link-light" href="#" data-bs-toggle="modal"
                        data-bs-target="#{{ skill['s'].get('created') }}">
                        <span class="badge bg-dark">{{ skill['t'].get('name') }}
                            <span class="badge rounded-pill text-bg-light">
                                {{count_skills[skill['elementid(s)']]}}
                                <span class="visually-hidden">endorsements</span>

                            </span>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="{{ skill['s'].get('created') }}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                                        <a class="link-light" href="/tags/{{ skill['t'].get('name') }}">
                                            <span class="badge bg-dark">{{ skill['t'].get('name') }}

                                        </a>
                                        




                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ skill['s'].get('description') }}
                                    <br />
                                    <br />
                                    <div class="card">
                                        <h6 class="card-header">Other persons skilled in {{ skill['t'].get('name') }}:</h6>
                                        <div class="card-body">
                                            {% for p in shared_skills.get(skill['t'].get('name')) %}
                                            <a class="link-light" href="/persons/{{p['p2']['email']}}">
                                                <span class="badge rounded-pill text-bg-light">
                                                    {{p['p2']['last_name']}}, {{p['p2']['first_name']}}</span>
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="card">
                                        <h6 class="card-header"><span class="badge rounded-pill bg-info">
                                            {{count_skills[skill['elementid(s)']]}}
                                        </span> endorsements by:</h6>
                                        <div class="card-body">
                                            {% for p in endorsed_skill.get(skill['t'].get('name')) %}
                                            <a class="link-light" href="/persons/{{p['p']['email']}}">
                                                <span class="badge rounded-pill text-bg-light">{{p['p']['last_name']}}, {{p['p']['first_name']}}</span>
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    {% if not is_user and session['user'] %}
                                    <form method="POST"
                                        action="{{ url_for('endorse_skill', elementid=skill['elementid(s)'])}}">
                                        <button class="btn btn-info" type="submit">Endorse</button>
                                    </form>
                                    {% endif %}
                                    {% if is_user%}
                                    <form method="POST"
                                        action="{{ url_for('remove_skill', tag=skill['t'].get('name')) }}">
                                        <button class="btn btn-danger" type="submit">Remove</button>
                                    </form>
                                    {% endif %}
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of modal-->
                    {% endfor %}


                </div>
            </div>
        </div>
        <div class="col"> <!--Transactions-->
            <div class="card" style="width: 550px;">
                <h6 class="card-header">
                    Transactions
                    {% if is_user%}
                    <!-- Button trigger modal -->
                    <a href="#" class="link-dark" data-bs-toggle="modal" data-bs-target="#addtransaction">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="addtransaction" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Transaction</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{{ url_for('add_transaction') }}">
                                        <div class="mb-3">
                                            <label for="from" class="form-label">From</label>
                                            <select name="from" id="from" class="form-select"
                                                aria-label="Default select example" required="required">
                                                <option value="" selected>-- select --</option>

                                                {% for person in all_persons%}
                                                <option value="{{person.email}}">{{person.last_name}},
                                                    {{person.first_name}} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="to" class="form-label">To</label>
                                            <select name="to" id="to" class="form-select"
                                                aria-label="Default select example" required="required">
                                                <option value="" selected>-- select --</option>

                                                {% for person in all_persons%}
                                                <option value="{{person.email}}">{{person.last_name}},
                                                    {{person.first_name}} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="tag" class="form-label">Tag</label>
                                            <input type="text" class="form-control" id="tag" name="tag"
                                                required="required">
                                        </div>
                                        <div class="mb-3">
                                            <label for="date" class="form-label">Date</label>
                                            <input type="date" class="form-control" id="date" name="date"
                                                required="required">
                                        </div>

                                        <button type="submit" class="btn btn-light mb-3">Add</button>

                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of modal-->
                    {% endif %}
                    <!-- end is_user -->
                </h6>
                <div class="card-body">
                    <ul class="list-group list-group-flush">

                        {% for tx in transactions %}
                        <li class="list-group-item" style="padding: 0px; padding-bottom: 2px; padding-top: 2px;">

                            <span style="font-size: smaller;"><b>{{tx.date}}</b></span><a class="link-light"
                                href="/tags/{{tx.t.name}}"> <span class="badge bg-dark">{{tx.t.name}}</span></a>
                            <a class="link-light" href="/persons/{{tx.p_from.email}}">
                                <span class="badge rounded-pill text-bg-light">{{tx.p_from.last_name}},
                                    {{tx.p_from.first_name}}</span>
                            </a>
                            <span style="font-size: smaller;">&#x2192;</span>
                            <a class="link-light" href="/persons/{{tx.p_to.email}}">
                                <span class="badge rounded-pill text-bg-light">{{tx.p_to.last_name}},
                                    {{tx.p_to.first_name}}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-left" style="padding-top: 15px;">
    <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <h6 class="card-header">Tasks
                    {% if is_user%}
                    <!-- Button trigger modal -->
                    <a href="#" class="link-dark" data-bs-toggle="modal" data-bs-target="#addtask">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path
                                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="addtask" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Task</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{{ url_for('add_task') }}">
                                        <div class="mb-3">
                                            <label for="title" class="form-label">Title</label>
                                            <input type="text" class="form-control" id="title" name="title">
                                        </div>
                                        <div class="mb-3">
                                            <label for="start_date" class="form-label">Start Date</label>
                                            <input type="date" class="form-control" id="start_date" name="start_date"
                                                required="required">
                                        </div>
                                        <div class="mb-3">
                                            <label for="end_date" class="form-label">End Date</label>
                                            <input type="date" class="form-control" id="end_date" name="end_date">
                                        </div>

                                        <div class="mb-3">
                                            <label for="tag" class="form-label">Tag(s) (separate by semicolon)</label>
                                            <input type="text" class="form-control" id="tag" name="tag">
                                        </div>
                                        <div class="mb-3">
                                            <label for="collaborators" class="form-label">Collaborators</label>
                                            <select name="collaborators" id="collaborators" class="form-select" multiple
                                                aria-label="multiple select example" required="required">
                                                <option value="" selected>-- select collaborator(s) --</option>
                                                {% for person in all_persons%}
                                                <option value="{{person.email}}">{{person.last_name}},
                                                    {{person.first_name}} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="desc" class="form-label">Description</label>
                                            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-light mb-3">Add</button>


                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of modal-->
                    {% endif %}
                    <!-- end is_user -->
                </h6>
                <div class="card-body">
                    <ul class="list-group list-group-flush">

                        {% for task in tasks %}
                        <li class="list-group-item" style="padding: 0px; padding-bottom: 2px; padding-top: 2px;">

                            <b>{{ task['t'].get('start_date') }} -
                                {% if task['t'].get('end_date') %}
                                {{ task['t'].get('end_date') }}
                                {% else %} today
                                {%endif%}</b>

                            {% for t in tags_tasks[task['elementid(t)']] %}
                            <a class="link-light" href="/tags/{{t['tag'].get('name')}}">

                                <span class="badge bg-dark">{{t['tag'].get('name')}}</span>
                            </a>
                            {% endfor %} <br />

                            <p style="font-size: smaller;"><i>{{ task['t'].get('title') }} - </i>{{
                                task['t'].get('description') }}


                                <!-- Button trigger modal -->
                                <a href="#" class="link-dark" data-bs-toggle="modal"
                                    data-bs-target="#{{task.get('elementid(t)')}}">
                                    <i>> Details</i>
                                </a>
                                <!-- Modal -->
                            <div class="modal fade" id="{{task.get('elementid(t)')}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Task Details: {{
                                                task['t'].get('title') }}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p><b>{{ task['t'].get('start_date') }} -
                                                    {% if task['t'].get('end_date') %}
                                                    {{ task['t'].get('end_date') }}
                                                    {% else %} today
                                                    {%endif%}</b></p>
                                            <p>{{ task['t'].get('description') }}</p>

                                            <p> {% for t in tags_tasks[task['elementid(t)']] %}
                                                <a class="link-light" href="/tags/{{t['tag'].get('name')}}">

                                                    <span class="badge bg-dark">{{t['tag'].get('name')}}</span>
                                                </a>
                                                {% endfor %}
                                                <br />
                                            </p>
                                            <div class="card">
                                                <h6 class="card-header">Other persons working on this task:</h6>
                                                <div class="card-body">
                                                    {% for p in shared_tasks[task['elementid(t)']] %}
                                                    <a class="link-light" href="/persons/{{p['p'].get('email')}}">
                                                        <span
                                                            class="badge rounded-pill text-bg-light">{{p['p'].get('last_name')}},
                                                            {{p['p'].get('first_name')}}</span>
                                                    </a>
                                                    {% endfor %}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-dark"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of modal-->
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}