{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block subtitle %}
Register
{% endblock %}

{% block content %}
<div class="col d-flex justify-content-center">

    <form action="{{ url_for('register') }}" method="post">

        <div class="col-12" style="padding-top: 10px;">
            <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
        <div class="col-12" style="padding-top: 10px;">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>

        <div class="col-12" style="padding-top: 10px;">
            <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
        </div>
        <div class="col-12" style="padding-top: 10px;">
            <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
        </div>
        <div class="col-12" style="padding-top: 10px;">
            <input type="tel" class="form-control" name="phone" placeholder="Phone" required>
        </div>
        <div class="col-12" style="padding-top: 10px;">
            <input type="text" class="form-control" name="job_title" placeholder="Job Title" required>
        </div>

        <div class="col-auto" style="padding-top: 10px;">
            <button type="submit" class="btn btn-dark" style="width:100%;">Register</button>
        </div>

    </form>
</div>
<div class="col d-flex justify-content-center" style="padding-top: 10px;">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endblock %}