{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h3>Register</h3>
    <form action="{{ url_for('register') }}" method="post">
        <dl>
            <dt>First Name</dt>
            <dd><input type="text" size="30" name="first_name"></dd>
            <dt>Name</dt>
            <dd><input type="text" size="30" name="last_name"></dd>
            <dt>Email</dt>
            <dd><input type="text" size="30" name="email"></dd>
            <dt>Phone</dt>
            <dd><input type="text" size="30" name="phone"></dd>
            <dt>Job Title</dt>
            <dd><input type="text" size="30" name="job_title"></dd>
            <dt>Password</dt>
            <dd><input type="password" size="30" name="password"></dd>
        </dl>
        <input type="submit" value="Register">
    </form>

    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
{% endblock %}
