{% extends "base.html" %}
{% block title %}{{ tag.name }}{% endblock %}

{% block subtitle %}
<span class="badge bg-tag">{{ tag.name }}</span>
{% endblock %}


{% block content %}

<!-- Title incl. Action Buttons -->

<div class="container text-left">
    <div class="row align-items-start">
        <div class="col">
            {% if session['user'] and not follows %}

            <form method="POST" action="{{ url_for('add_tag', rel_type='is_interested_in') }}">
                <input type="hidden" name="tag" value="{{ tag.name }} " id="followed_tags">
                <button class="btn btn-sm btn-dark" type="submit" method="POST"
                    action="{{ url_for('add_tag', rel_type='is_interested_in') }}">Add Interest</button>
            </form>

            {% endif %}

            {% if session['user'] and follows %}

            <form method="POST" action="{{ url_for('remove_tag', rel_type='is_interested_in') }}">
                <input type="hidden" name="tag" value="{{ tag.name }} ">
                <button class="btn btn-sm btn-danger" type="submit" method="POST"
                    action="{{ url_for('add_tag', rel_type='is_interested_in') }}">Remove Interest</button>
            </form>

            {% endif %}
        </div>
        <div class="col">
            {% if session['user'] and not skilled %}
            <!-- Button trigger modal -->
            <a href="#" class="link-dark" data-bs-toggle="modal" data-bs-target="#addskill">
                <button class="btn btn-sm btn-dark">Add Skill</button>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="addskill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add {{ tag.name }} as skill</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{{ url_for('add_skill') }}">
                                <div class="mb-3">
                                    <input type="hidden" class="form-control" id="tag" name="tag"
                                        value="{{ tag.name }}">
                                    <textarea class="form-control" id="desc" rows="3" name="desc"
                                        placeholder="Describe your skill"></textarea>
                                </div>
                                <button type="submit" class="btn btn-dark mb-3">Add Skill</button>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of modal-->

            {% endif %}
            {% if session['user'] and skilled %}

            <form method="POST" action="{{ url_for('remove_skill', tag=tag.name)  }}">
                <button class="btn btn-sm btn-danger" type="submit">Remove Skill</button>
            </form>

            {% endif %}
        </div>
        <div class="col">
            {% if session['user'] %}
            <!-- Button trigger modal -->
            <a href="#" class="link-dark" data-bs-toggle="modal" data-bs-target="#addtransfer">
                <form method="POST" action="{{ url_for('remove_tag', rel_type='has') }}">
                    <input type="hidden" name="tag" value="{{ tag.name }} ">
                    <button class="btn btn-sm btn-dark" type="submit" method="POST"
                        action="{{ url_for('remove_tag', rel_type='has') }}">Transfer Knowledge</button>
                </form>
            </a>
            <!-- Modal -->
            <div class="modal fade" id="addtransfer" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add Knowledge Transfer</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{{ url_for('add_transfer') }}">
                                <div class="mb-3">
                                    <input type="hidden" class="form-control" id="from" name="from"
                                        value="{{ session['user'] }}">

                                    <label for="to" class="form-label">To</label>
                                    <select name="to" id="to" class="form-select" aria-label="Default select example"
                                        required="required">
                                        <option value="" selected>-- select --</option>

                                        {% for person in all_persons%}
                                        <option value="{{person.p.email}}">{{person.p.last_name}},
                                            {{person.p.first_name}} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <input type="hidden" class="form-control" id="tag" name="tag"
                                        value="{{ tag.name }}">
                                </div>
                                <div class="mb-3">
                                    <label for="date" class="form-label">Date</label>
                                    <input type="date" class="form-control" id="date" name="date" required="required">
                                </div>

                                <button type="submit" class="btn btn-light mb-3">Add</button>

                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of modal-->
            {% endif %}
        </div>

    </div>
</div>

<!-- Followers, Skilled People, Knowledge transfers-->
<div class="container text-left" style="padding-top: 15px;">
    <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <h6 class="card-header">Interested People</h6>
                <div class="card-body">
                    {% if not persons_following%}
                    <p style="font-size: smaller; font-style: italic;">
                        No interested people found.
                    </p>
                    {%endif%}
                    {% for person in persons_following%}
                    <a class="link-light" href="/persons/{{person.p.email}}">
                        <span class="badge rounded-pill bg-person">{{person.p.last_name}},
                            {{person.p.first_name}}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h6 class="card-header">Skilled People</h6>
                <div class="card-body">
                    {% if not persons_skilled%}
                    <p style="font-size: smaller; font-style: italic;">
                        No skilled persons found.
                    </p>
                    {%endif%}
                    {% for person in persons_skilled%}
                    <a class="link-light" href="/persons/{{person.p.email}}">
                        <span class="badge rounded-pill bg-person">{{person.p.last_name}},
                            {{person.p.first_name}}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h6 class="card-header">Knowledge Transferring People</h6>
                <div class="card-body">
                    {% if not transfers%}
                    <p style="font-size: smaller; font-style: italic;">
                        No knowledge transferors found..
                    </p>
                    {%endif%}
                    {% for tx in transfers%}
                    <a class="link-light" href="/persons/{{tx.p_from.email}}">
                        <span class="badge rounded-pill bg-person">{{tx.p_from.last_name}}, {{tx.p_from.first_name}}
                            <span class="badge text-bg-dark"> {{ tx.anz }}
                                <span class="visually-hidden">helped {{ tx.anz }} time{% if tx.anz > 1%}s{% endif
                                    %}</span>
                            </span>
                        </span>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- People are also ... -->
<div class="container text-left" style="padding-top: 15px;">
    <div class="row align-items-start">
        <div class="col">
            <div class="accordion" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            People are also interested in:
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse "
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if not followed_tags_other%}
                            <p style="font-size: smaller; font-style: italic;">
                                No related interests found :-&#40;
                            </p>
                            {%endif%}
                            {% for tag in followed_tags_other%}
                            <a class="link-light" href="/tags/{{ tag.name }}">
                                <span class="badge bg-follow">{{ tag.name }}</span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="accordion" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            People are also skilled in:
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if not skilled_tags_other%}
                            <p style="font-size: smaller; font-style: italic;">
                                No related skills found :-&#40;
                            </p>
                            {%endif%}
                            {% for tag in skilled_tags_other%}
                            <a class="link-light" href="/tags/{{ tag.name }}">
                                <span class="badge bg-skill">{{ tag.name }}</span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="accordion" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            People are also transferring knowledge in:
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if not helped_tags_other%}
                            <p style="font-size: smaller; font-style: italic;">
                                No related knowledge transfers found :-&#40;
                            </p>
                            {%endif%}
                            {% for tag in helped_tags_other%}
                            <a class="link-light" href="/tags/{{ tag.name }}">
                                <span class="badge bg-transfer">{{ tag.name }}</span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tasks -->
<div class="container text-left" style="padding-top: 15px;">
    <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <h6 class="card-header">Tasks
                </h6>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% if not tasks %}
                        <p style="font-size: smaller; font-style: italic;">
                            No tasks found.
                        </p>
                        {% endif %}
                        {% for task in tasks%}
                        <li class="list-group-item" style="padding: 0px; padding-bottom: 2px; padding-top: 2px;">
                            <b>{{ task.t.start_date }} -
                                {% if task.t.end_date %}
                                {{ task.t.end_date }}
                                {% else %} today
                                {%endif%}</b>

                            {% for t in tags_tasks[task['elementid(t)']] %}
                            <a class="link-light" href="/tags/{{t['tag'].get('name')}}">
                                <span class="badge bg-task">{{t['tag'].get('name')}}</span>
                            </a>
                            {% endfor %} <br />
                            <p style="font-size: smaller;"><i>{{ task['t'].get('title') }} - </i>{{
                                task['t'].get('description') }}
                                <!-- Button trigger modal -->
                                <a href="#" class="link-dark" data-bs-toggle="modal"
                                    data-bs-target="#{{task.get('elementid(t)')}}">
                                    <i>> Details</i>
                                </a>
                                <!-- Modal -->
                            <div class="modal fade" id="{{task.get('elementid(t)')}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{
                                                task['t'].get('title') }}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p><b>{{ task['t'].get('start_date') }} -
                                                    {% if task['t'].get('end_date') %}
                                                    {{ task['t'].get('end_date') }}
                                                    {% else %} today
                                                    {%endif%}</b></p>
                                            <p>{{ task['t'].get('description') }}</p>
                                            <p> {% for t in tags_tasks[task['elementid(t)']] %}
                                                <a class="link-light" href="/tags/{{t['tag'].get('name')}}">

                                                    <span class="badge bg-task">{{t['tag'].get('name')}}</span>
                                                </a>
                                                {% endfor %}
                                                <br />
                                            </p>
                                            <div class="card">
                                                <h6 class="card-header">People working on this task:</h6>
                                                <div class="card-body">
                                                    {% for p in shared_tasks[task['elementid(t)']] %}
                                                    <a class="link-light" href="/persons/{{p['p'].get('email')}}">
                                                        <span
                                                            class="badge rounded-pill bg-person">{{p['p'].get('last_name')}},
                                                            {{p['p'].get('first_name')}}</span>
                                                    </a>
                                                    {% endfor %}
                                                </div>
                                            </div>



                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End of modal-->
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- People are also working on-->
<div class="container text-left" style="padding-top: 15px;">
    <div class="row align-items-start">
        <div class="col">
            <div class="accordion" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            People are also working on:
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if not worked_tags_other%}
                            <p style="font-size: smaller; font-style: italic;">
                                No related tasks found :-&#40;
                            </p>
                            {%endif%}
                            {% for tag in worked_tags_other%}
                            <a class="link-light" href="/tags/{{ tag.name }}">
                                <span class="badge bg-task">{{ tag.name }}</span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Related Tags -->
<div class="container text-left" style="padding-top: 15px;">
    <div class="row align-items-start">
        <div class="col">
            <div class="accordion" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            Related Tags
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if not related_tags %}
                            <p style="font-size: smaller; font-style: italic;">
                                No related tags found :-&#40;
                            </p>
                            {%endif%}
                            {% for tag in related_tags%}
                            <a class="link-light" href="/tags/{{ tag.t.name }}">
                                <span class="badge bg-tag">{{ tag.t.name }}</span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}