{% extends "base.html" %}
{% block title %}Tags{% endblock %}
{% block content %}

<div class="container text-left">
    <h2 style="padding-bottom: 15px; padding-top: 20px;">Tags</h2>
    <div class="row align-items-start">

        <form method="POST" action="{{ url_for('tags') }}">
            <div class="input-group input-group-sm mb-3">
                <input type="text" class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm" name="search" id="search" value="{{ search }}">
                    
                <span class="input-group-text" id="inputGroup-sizing-sm"><button
                        class="btn btn-sm" type="submit">Search</button></span>
                        
            </div>
        </form>


        {% for tag in tags%}
        <a class="link-light" href="/tags/{{tag.t.name}}">
            <span class="badge bg-tag"> {{tag.t.name}}
            </span>
        </a>
        {% endfor %}
    </div>

</div>

{% endblock %}