{% extends "base.html" %}
{% block title %} Title {% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-info" role="alert">
    {{ message }}
</div>
{% endfor %}

<div class="container text-left" style="padding-top: 15px;">
    <h2>{{ task.title }}</h2>
    <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <h5 class="card-header">Collaborators</h5>
                <div class="card-body">
                    {% for person in persons %}
                    <a class="nav-link" href="/person?email={{ person.p.email }}">
                        {{ person.p.last_name }}, {{ person.p.first_name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">Tags</h5>
                <div class="card-body">
                    {% for tag in tags %}
                    <a class="link-light" href="/tags/{{ tag.tag.name }}">
                        <span class="badge bg-secondary"> {{ tag.tag.name }}
                        </span>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}