{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}

<div class="container text-left">

    <h2> {{ user.first_name }} {{ user.last_name }}
    </h2>
    <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <h5 class="card-header">My Contact</h5>
                <div class="card-body">
                    <!--<h5 class="card-title">Special title treatment</h5>-->
                    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                            <tr>
                                <th>Phone</th>
                                <td><a href="tel:{{ user.phone }}">{{ user.phone }}</a></td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                            </tr>
                            <tr>
                                <th>Job Title</th>
                                <td>{{ user.job_title }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">My Interests</h5>
                <div class="card-body">
                    <p class="card-text">
                        {% for tag in tags %}
                        <a class="link-light" href="#">
                            <span class="badge bg-secondary">{{ tag['t'].get('name') }}</span>
                        </a>
                        {% endfor %}
                    </p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-header">My Skills</h5>
                <div class="card-body">
                    {% for skill in skills %}

                    <!-- Button trigger modal -->
                    <a class="link-light" href="#" data-bs-toggle="modal"
                        data-bs-target="#{{ skill['s'].get('created') }}">
                        <span class="badge bg-secondary">{{ skill['t'].get('name') }}</span>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="{{ skill['s'].get('created') }}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Skill: {{ skill['t'].get('name')
                                        }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ skill['s'].get('description') }}
                                    <br />
                                    <br />

                                    <div class="card">
                                        <div class="card-body">
                                            <b>Other persons with this skill:</b>
                                            <ul>
                                                {% for v in shared_skills.get(skill['t'].get('name')) %}
                                                <a href="/person?email={{v['p2']['email']}}">
                                                    <li>{{v['p2']['first_name']}} {{v['p2']['last_name']}}</li>
                                                </a>
                                                {% endfor %}
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of modal-->
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-left" style="padding-top: 15px;">
    <div class="row align-items-start">
        <div class="col">
            <div class="card">
                <h5 class="card-header">My Tasks</h5>
                <div class="card-body">
                    <p class="card-text">
                        <div class="row align-items-start" >

                        {% for task in tasks %}
                            <div class="col-3" style="padding-top: 15px; padding-right: 10px;">
                        
                    <div class="card" style="width: 17rem;">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <h5 class="card-title">{{ task['t'].get('title') }}</h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">
                                        {{ task['t'].get('start_date') }} -
                                        {% if task['t'].get('end_date') %}
                                        {{ task['t'].get('end_date') }}
                                        {% else %} today
                                        {%endif%}
                                    </h6>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">{{ task['t'].get('description') }}</p>
                                </li>
                                <li class="list-group-item">
                                    {% for t in tags_tasks[task['elementid(t)']] %}
                                    <a class="link-light" href="#">
                                        <span class="badge bg-secondary">{{t['tag'].get('name')}}</span></a>{% endfor %}
                                </li>


                                <li class="list-group-item">
                                    {% for p in shared_tasks[task['elementid(t)']] %}

                                    <a class="nav-link"
                                        href="/person?email={{p['p'].get('email')}}">{{p['p'].get('first_name')}}
                                        {{p['p'].get('last_name')}}
                                    </a>

                                    {% endfor %}
                                </li>

                            </ul>
                        </div>

                    </div>
                            </div>
                    {% endfor %}</div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}